# --- Dependencias ---
node_modules/
.pnp
.pnp.js
.pnpm-store/

# --- Producción / Build ---
dist/
dist-ssr/
build/
out/

# --- Logs y Debugging ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Variables de Entorno (SEGURIDAD) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup
*.env.bak

# --- Archivos de Editores y SO ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# --- Otros ---
*.local